@import "../node_modules/bootstrap/scss/bootstrap";

$theme-colors: (
  "primary": #f70909,
  "success": #8486da,
);

body {
  min-height: 75rem;
  padding-top: 4.5rem;
  background-color: #2124e9;
}

.form-inline {
  display: flex;
}

.headerNav {
  background-color: #f70909;
}
.cardPokemon {
  height: 300px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  display: flex;
  gap: 30px;
  &:hover {
    transition: 0.7s;
    box-shadow: 1px 1px 8px 1px white;
  }
}
// .cardImg {
// }
